<div class="side-bar" style="height: 30px; -webkit-app-region: drag">
  <!-- Spacer div with drag to add space where the hidden titlebar belongs -->
</div>
<div class="vertical-flex side-bar">
  <div routerLink="/overview" class="side-bar-icon-container">
    <i class="side-bar-icon fa fa-automobile"></i>
    <span class="side-bar-label">Overview</span>
  </div>
  <div routerLink="/log" class="side-bar-icon-container">
    <i class="side-bar-icon fa fa-book"></i>
    <span class="side-bar-label">Service Log</span>
  </div>
</div>
