<!-- Empty div that acts as a drag handle due to hidden titleBar -->
<div class="drag-bar"></div>
<div class="loading-overlay" *ngIf="loading">
  <div class="centre-container col-sm-6 col-md-4">
    <img src="assets/spinner-lg-black.gif" height="50" width="50">
    <h1>Loading</h1>
  </div>
</div>
<app-entry *ngIf="!loggedIn; else main"></app-entry>
<ng-template #main>
  <div style="display: flex; height: 100vh">
    <app-side-bar style="width: 100px"></app-side-bar>
    <div style="padding-top: 30px">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>
