<div class="garage-container">
  <h2>Garage</h2>
  <app-alert></app-alert>
  <div class="mb-1 d-flex align-items-end">
    <input type="text" class="flex-shrink-1 lite-input col-md-3 col-sm-6" [(ngModel)]="searchInput" (input)="onSearchInput()" placeholder="Search">
    <div class="flex-shrink-0 form-inline ml-2 align-items-end">
      <span>Show</span>
      <select class="form-control ml-2 mr-2" style="height: 2rem; width: auto" [(ngModel)]="vehiclesPerPage" (change)="onPageCapacityChange()">
        <option *ngFor="let option of pageCapacities">{{option}}</option>
      </select>
      <span>of {{totalLength}}</span>
    </div>
    <button type="button" class="flex-shrink-0 btn btn-sm btn-success ml-auto" data-toggle="modal" data-target="#registerVehicleModal">
      <i class="fa fa-plus"></i> Add Vehicle
    </button>
  </div>
  <app-garage-table [vehicles]="vehicleStream | async"></app-garage-table>
  <app-pagination [contentLength]="totalLength" [pageSize]="vehiclesPerPage" (pageChange)="onPageChange($event)"></app-pagination>
</div>
<app-register-vehicle-modal></app-register-vehicle-modal>
