.side-bar {
  padding-top: 30px;
  width: 100px;
  height: 100%;
  text-align: center;
  justify-content: flex-start;
}

.side-bar-icon-container {
  padding: 15px 10px;
  cursor: pointer;
  outline: none;

  &:hover, &.active {
    background: rgba(255, 255, 255, 0.1);
  }
}

.side-bar-icon {
  font-size: 28px;
}

.side-bar-label {
  display: block;
  line-height: 20px;
}
