<div class="vertical-flex side-bar" [style.background]="'#' + themeColor" [style.color]="getIconColor()">
  <div routerLink="/" class="side-bar-icon-container" [class.active]="href === '/'">
    <i class="side-bar-icon fa fa-car"></i>
    <span class="side-bar-label">Overview</span>
  </div>
  <div routerLink="/log" class="side-bar-icon-container" [class.active]="href === '/log'">
    <i class="side-bar-icon fa fa-book"></i>
    <span class="side-bar-label">Service Log</span>
  </div>
  <div routerLink="/garage" class="side-bar-icon-container" [class.active]="href === '/garage'">
    <i class="side-bar-icon fa fa-warehouse"></i>
    <span class="side-bar-label">Garage</span>
  </div>
  <div routerLink="/settings" class="side-bar-icon-container" [class.active]="href === '/settings'">
    <i class="side-bar-icon fa fa-cogs"></i>
    <span class="side-bar-label">Settings</span>
  </div>
  <div class="side-bar-icon-container mt-auto" (click)="logout()">
    <i class="side-bar-icon fas fa-door-open"></i>
    <span class="side-bar-label">Logout</span>
  </div>
</div>
